https://github.com/BuzzFeedNews/H-2-certification-data#standardized-data

https://slack-files.com/files-pri-safe/T0G8RC23F-F1CDXGV2T/weeklychallenge1.pdf?c=1464995869-6ff0f6b3f6e525238c72eb64113afaa16cfd2b31

# Imports, load data, and quick look at it:

In [79]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('fivethirtyeight')

In [80]:
h2visas_df = pd.read_csv(".\\datasets\\H-2-certification-decisions.csv")
h2visas_df.shape

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (0,8,9,14,15,16,17,18,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(213155, 22)

In [81]:
h2visas_df.columns

Index(['case_no', 'visa_type', 'fy', 'last_event_date', 'case_status',
       'n_requested', 'n_certified', 'is_certified',
       'certification_begin_date', 'certification_end_date', 'job_title',
       'employer_name', 'employer_state', 'employer_city',
       'employer_address_1', 'employer_address_2', 'employer_postal_code',
       'worksite_state', 'worksite_city', 'agent_name', 'organization_flag',
       'is_duplicate'],
      dtype='object')

In [82]:
h2visas_df.head()

,case_no,visa_type,fy,last_event_date,case_status,n_requested,n_certified,is_certified,certification_begin_date,certification_end_date,...,employer_state,employer_city,employer_address_1,employer_address_2,employer_postal_code,worksite_state,worksite_city,agent_name,organization_flag,is_duplicate
0,9455254,H-2B,2000,1999-10-01,"DENIED, TEMPORARY",1.0,0,False,NaN,NaN,...,CA,LOS ANGELES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8222219,H-2B,2000,1999-10-04,"CERTIFIED, TEMPORARY",2.0,2,True,NaN,NaN,...,CO,BEAVER CREEK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8222168,H-2B,2000,1999-10-04,"CERTIFIED, TEMPORARY",2.0,2,True,NaN,NaN,...,CO,MT. CRESTED BUTTE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8222169,H-2B,2000,1999-10-04,"CERTIFIED, TEMPORARY",5.0,5,True,NaN,NaN,...,CO,MT. CRESTED BUTTE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8222170,H-2B,2000,1999-10-04,"CERTIFIED, TEMPORARY",40.0,40,True,NaN,NaN,...,CO,MT. CRESTED BUTTE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
#column types
h2visas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213155 entries, 0 to 213154
Data columns (total 22 columns):
case_no                     213155 non-null object
visa_type                   213155 non-null object
fy                          213155 non-null int64
last_event_date             205686 non-null object
case_status                 213155 non-null object
n_requested                 141512 non-null float64
n_certified                 213155 non-null int64
is_certified                213155 non-null bool
certification_begin_date    155351 non-null object
certification_end_date      155342 non-null object
job_title                   212671 non-null object
employer_name               213133 non-null object
employer_state              213029 non-null object
employer_city               213076 non-null object
employer_address_1          169205 non-null object
employer_address_2          21596 non-null object
employer_postal_code        168879 non-null object
worksite_state              150084 non-null object
worksite_city               81980 non-null object
agent_name                  155934 non-null object
organization_flag           47122 non-null object
is_duplicate                75284 non-null object
dtypes: bool(1), float64(1), int64(2), object(18)
memory usage: 34.4+ MB

In [84]:
# number of nulls per column
h2visas_df.isnull().sum()

case_no                          0
visa_type                        0
fy                               0
last_event_date               7469
case_status                      0
n_requested                  71643
n_certified                      0
is_certified                     0
certification_begin_date     57804
certification_end_date       57813
job_title                      484
employer_name                   22
employer_state                 126
employer_city                   79
employer_address_1           43950
employer_address_2          191559
employer_postal_code         44276
worksite_state               63071
worksite_city               131175
agent_name                   57221
organization_flag           166033
is_duplicate                137871
dtype: int64

# VISA TYPE

** No nulls, more H2B **

In [85]:
# visa_type
h2visas_df["visa_type"].value_counts()

H-2B    122662
H-2A     90493
Name: visa_type, dtype: int64

# Last event date (Most recent decision/progress in case)

** all nulls are H-2A **

In [86]:
# last_event_date
h2visas_df["last_event_date"].head()

0    1999-10-01
1    1999-10-04
2    1999-10-04
3    1999-10-04
4    1999-10-04
Name: last_event_date, dtype: object

In [87]:
#convert to datetime
h2visas_df["last_event_date"] = pd.to_datetime(h2visas_df["last_event_date"])

In [88]:
#explore nulls (7469), why is there no information?
h2visas_df["visa_type"][h2visas_df["last_event_date"].isnull()].value_counts()

H-2A    7469
Name: visa_type, dtype: int64

# Certification begin data and end data

In [89]:
# convert to datetime
h2visas_df["certification_begin_date"] = pd.to_datetime(h2visas_df["certification_begin_date"])
h2visas_df["certification_end_date"] = pd.to_datetime(h2visas_df["certification_end_date"])

In [90]:
# Nulls certification_begin_date (57804) and certification_end_date (57813)
print("nulls for end_date that have begin_date:")
h2visas_df["certification_begin_date"][h2visas_df["certification_end_date"].isnull()].value_counts()

nulls for end_date that have begin_date:

2010-08-01    1
2013-09-25    1
2013-11-20    1
2016-02-07    1
2007-06-01    1
2012-04-01    1
2011-03-01    1
2014-03-13    1
2014-06-20    1
2014-03-22    1
2009-11-12    1
2015-04-16    1
2015-06-01    1
2011-12-15    1
2013-08-12    1
2014-04-17    1
2013-07-19    1
Name: certification_begin_date, dtype: int64

In [91]:
print("nulls for begin_date that have end_date:")
h2visas_df["certification_end_date"][h2visas_df["certification_begin_date"].isnull()].value_counts()

nulls for begin_date that have end_date:

2016-09-30    2
2015-11-30    1
2013-11-09    1
2011-08-30    1
2015-09-30    1
2008-12-31    1
2012-06-30    1
Name: certification_end_date, dtype: int64

In [92]:
# end_data vs last_event_data
h2visas_df["case_status"][h2visas_df["certification_end_date"] == h2visas_df["last_event_date"]].value_counts()

CERTIFIED - FULL    16
Name: case_status, dtype: int64

In [93]:
# end_data vs last_event_data (when are they different?)
h2visas_df["case_status"][h2visas_df["certification_end_date"] != h2visas_df["last_event_date"]].value_counts()

CERTIFIED - FULL                                        57028
CERTIFIED                                               42671
CERTIFIED, TEMPORARY                                    36788
DETERMINATION ISSUED - CERTIFICATION                    18977
CERTIFICATION                                           17195
DENIED                                                  13684
PARTIAL CERTIFIED                                        8514
DENIED, TEMPORARY                                        5817
WITHDRAWN                                                3189
CERTIFIED - PARTIAL                                      3120
PARTIAL CERTIFICATION                                    2089
RECEIVED REGIONAL OFFICE                                  980
DETERMINATION ISSUED - CERTIFICATION EXPIRED              954
DETERMINATION ISSUED - DENIED                             366
CERTIFICATION EXPIRED                                     355
DETERMINATION ISSUED - WITHDRAWN                          346
INCOMPLETE                                                320
DETERMINATION ISSUED - PARTIAL CERTIFICATION              308
RECEIVED                                                  110
PARTIAL CERTIFICATION EXPIRED                              84
REMAND TO SWA                                              55
REMAND ISSUED TO EMPLOYER                                  53
MODIFICATION                                               48
DETERMINATION ISSUED - PARTIAL CERTIFICATION EXPIRED       41
REMAND ISSUED TO STATE                                     33
REDUCTION IN RECRUITMENT DENIED                             4
FINAL REVIEW                                                3
DATA REVIEW                                                 3
NOF ISSUED                                                  2
RETURNED BY EMP AFTER REMAND                                2
Name: case_status, dtype: int64

#  Case status, is_certified

** There are many case status. It will be symplified to 5 differents status (Cerfified, In_progress, Denied, Expired, and Withdrawn ) **

In [94]:
#case_status
h2visas_df["case_status"].value_counts()

CERTIFIED - FULL                                        57044
CERTIFIED                                               42671
CERTIFIED, TEMPORARY                                    36788
DETERMINATION ISSUED - CERTIFICATION                    18977
CERTIFICATION                                           17195
DENIED                                                  13684
PARTIAL CERTIFIED                                        8514
DENIED, TEMPORARY                                        5817
WITHDRAWN                                                3189
CERTIFIED - PARTIAL                                      3120
PARTIAL CERTIFICATION                                    2089
RECEIVED REGIONAL OFFICE                                  980
DETERMINATION ISSUED - CERTIFICATION EXPIRED              954
DETERMINATION ISSUED - DENIED                             366
CERTIFICATION EXPIRED                                     355
DETERMINATION ISSUED - WITHDRAWN                          346
INCOMPLETE                                                320
DETERMINATION ISSUED - PARTIAL CERTIFICATION              308
RECEIVED                                                  110
PARTIAL CERTIFICATION EXPIRED                              84
REMAND TO SWA                                              55
REMAND ISSUED TO EMPLOYER                                  53
MODIFICATION                                               48
DETERMINATION ISSUED - PARTIAL CERTIFICATION EXPIRED       41
REMAND ISSUED TO STATE                                     33
REDUCTION IN RECRUITMENT DENIED                             4
FINAL REVIEW                                                3
DATA REVIEW                                                 3
NOF ISSUED                                                  2
RETURNED BY EMP AFTER REMAND                                2
Name: case_status, dtype: int64

In [95]:
Certified = ['CERTIFIED - FULL','CERTIFIED','CERTIFIED, TEMPORARY','DETERMINATION ISSUED - CERTIFICATION','CERTIFICATION',]
Partial = ['PARTIAL CERTIFIED','CERTIFIED - PARTIAL','PARTIAL CERTIFICATION','DETERMINATION ISSUED - PARTIAL CERTIFICATION']
Denied = ['DENIED','DENIED, TEMPORARY','DETERMINATION ISSUED - DENIED','REDUCTION IN RECRUITMENT DENIED','NOF ISSUED','INCOMPLETE']
In_progress = ['RECEIVED REGIONAL OFFICE','RECEIVED','REMAND TO SWA','REMAND ISSUED TO EMPLOYER','REMAND ISSUED TO STATE','FINAL REVIEW','DATA REVIEW','RETURNED BY EMP AFTER REMAND','MODIFICATION']
Withdrawn = ['WITHDRAWN','DETERMINATION ISSUED - WITHDRAWN']
Expired = ['PARTIAL CERTIFICATION EXPIRED','DETERMINATION ISSUED - CERTIFICATION EXPIRED','CERTIFICATION EXPIRED','DETERMINATION ISSUED - PARTIAL CERTIFICATION EXPIRED']

def classify_status(status):
    new_status = status
    if status in Certified:
        new_status = 'Certified'
    elif status in Partial:
        new_status = 'Partial'
    elif status in Denied:
        new_status = 'Denied'
    elif status in In_progress:
        new_status = 'In_progress'
    elif status in Withdrawn:
        new_status = 'Withdrawn'
    elif status in Expired:
        new_status = 'Expired'
    return new_status

h2visas_df["case_status_sum"] = h2visas_df["case_status"].map(lambda x: classify_status(x))
h2visas_df["case_status_sum"].value_counts()

Certified      172675
Denied          20193
Partial         14031
Withdrawn        3535
Expired          1434
In_progress      1287
Name: case_status_sum, dtype: int64

In [96]:
# I don't trust is_certified as it doesn't match properly with case_status_sum or case_status
print(" -------------- is certified ------------ ")
print(h2visas_df["case_status_sum"][h2visas_df["is_certified"] == True].value_counts())
print(" \n-------------- is NOT certified --------- ")
print(h2visas_df["case_status_sum"][h2visas_df["is_certified"] == False].value_counts())

 -------------- is certified ------------
Certified    170813
Partial       13968
Expired        1428
Name: case_status_sum, dtype: int64

-------------- is NOT certified ---------
Denied         20193
Withdrawn       3535
Certified       1862
In_progress     1287
Partial           63
Expired            6
Name: case_status_sum, dtype: int64

In [97]:
# make sure is_certifed = False and case_status = Cerfified are wrong
h2visas_df[(h2visas_df["case_status_sum"]=='Certified') & (h2visas_df["is_certified"] == False)]
#it looks that this have n_certified 0

,case_no,visa_type,fy,last_event_date,case_status,n_requested,n_certified,is_certified,certification_begin_date,certification_end_date,...,employer_city,employer_address_1,employer_address_2,employer_postal_code,worksite_state,worksite_city,agent_name,organization_flag,is_duplicate,case_status_sum
3418,7231694,H-2B,2000,2000-05-15,"CERTIFIED, TEMPORARY",NaN,0,False,NaT,NaT,...,BRANSON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Certified
10302,3358507,H-2B,2001,2001-06-11,"CERTIFIED, TEMPORARY",NaN,0,False,NaT,NaT,...,MORTON,NaN,NaN,NaN,NaN,NaN,"ANNA & ANNA, P.C.:DANIEL ANNA",NaN,NaN,Certified
43919,A-06054-00840,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-04-05,2006-12-02,...,FARMVILLE,1571 STONEY POINT ROAD,NaN,23901,NaN,NaN,NaN,NaN,NaN,Certified
43927,A-05262-00055,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2005-11-01,2006-07-15,...,ARCADIA,P.O. BOX 551,NaN,34265,NaN,NaN,NaN,NaN,NaN,Certified
44042,A-05293-00107,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2005-12-15,2006-10-15,...,SHAW,545 JONES BAYOU ROAD,NaN,38773,NaN,NaN,NaN,NaN,NaN,Certified
44052,A-06060-00924,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-04-15,2006-11-05,...,ROSEBORO,10725 CLAY FORK HILL ROAD,NaN,28382,NaN,NaN,NaN,NaN,NaN,Certified
44167,A-05349-00261,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-02-05,2006-12-15,...,HOPKINSVILLE,3501 BRADSHAW ROAD,NaN,42240,NaN,NaN,NaN,NaN,NaN,Certified
44173,A-05353-00268,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-02-15,2006-12-15,...,PARIS,450 REYNOLDSBURG ROAD,NaN,38242,NaN,NaN,NaN,NaN,NaN,Certified
44202,A-05357-00295,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-02-15,2006-11-30,...,ISOLA,131COUNTY LINE ROAD,NaN,38754,NaN,NaN,NaN,NaN,NaN,Certified
44261,A-05363-00332,H-2A,2006,NaT,CERTIFIED - FULL,NaN,0,False,2006-02-15,2006-12-15,...,SPRINGFIELD,3900 MEMORIAL BLVD.,NaN,37172,NaN,NaN,NaN,NaN,NaN,Certified
44337,A-06010-00390,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-02-25,2006-12-25,...,MADISONVILLE,165 ADAMS LN,NaN,42431,NaN,NaN,NaN,NaN,NaN,Certified
44358,A-06080-01136,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-05-07,2007-02-01,...,ADAMS,2921 HUGH GRILL ROAD,NaN,37010,NaN,NaN,NaN,NaN,NaN,Certified
44359,A-06130-01481,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-06-23,2007-02-01,...,ADAMS,1756 CORBIN ROAD,NaN,37010,NaN,NaN,NaN,NaN,NaN,Certified
44431,A-06018-00460,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-04-01,2006-11-18,...,PADUCAH,5725 CONTEST ROAD,NaN,42001,NaN,NaN,NaN,NaN,NaN,Certified
44447,A-06018-00475,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-03-01,2006-12-20,...,PHILPOT,3232 S. HAMPTON ROAD,NaN,42366,NaN,NaN,NaN,NaN,NaN,Certified
44449,A-06018-00475,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-03-01,2006-12-20,...,PHILPOT,3232 S. HAMPTON ROAD,NaN,42366,NaN,NaN,NaN,NaN,NaN,Certified
44472,A-06019-00482,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-03-03,2006-11-04,...,DINWIDDIE,17019 WILKINSON ROAD,NaN,23841,NaN,NaN,NaN,NaN,NaN,Certified
44491,A-06019-00484,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-02-27,2006-12-27,...,MOBILE,7980 TANNER WILLIAM ROAD,NaN,36608,NaN,NaN,NaN,NaN,NaN,Certified
44504,A-06020-00494,H-2A,2006,NaT,CERTIFIED - FULL,NaN,0,False,2006-02-28,2006-12-20,...,VIRGINIA BEACH,3116 NEW BRIDGE ROAD,NaN,23456,NaN,NaN,NaN,NaN,NaN,Certified
44540,A-06023-00514,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-03-07,2006-11-05,...,HARMONY,250 CRATER RD,NaN,28634,NaN,NaN,NaN,NaN,NaN,Certified
44546,A-06023-00514,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-03-07,2006-11-05,...,BUNN,149 BUD WINSTEAD RD,NaN,27508,NaN,NaN,NaN,NaN,NaN,Certified
44567,A-06023-00514,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-03-07,2006-11-05,...,CLINTON,4130 TAYLORS BR HWY,NaN,28328,NaN,NaN,NaN,NaN,NaN,Certified
44574,A-06023-00514,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-03-07,2006-11-05,...,HARMONY,164 ALLEN RD,NaN,28634,NaN,NaN,NaN,NaN,NaN,Certified
44590,A-06023-00514,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-03-07,2006-11-05,...,CLINTON,50 BONEY MILL RD,NaN,28328,NaN,NaN,NaN,NaN,NaN,Certified
44592,A-06023-00514,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-03-07,2006-11-05,...,SNOW HILL,377 HWY 91,NaN,28580,NaN,NaN,NaN,NaN,NaN,Certified
44610,A-06025-00524,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-03-05,2006-12-15,...,FARMINGTON,9904 STATE ROUTE 94-E,NaN,42040,NaN,NaN,NaN,NaN,NaN,Certified
44623,A-06026-00535,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-04-01,2007-01-01,...,CADIZ,5601 CERULEAN ROAD,NaN,42211,NaN,NaN,NaN,NaN,NaN,Certified
44656,A-06031-00565,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-04-11,2006-12-10,...,MURRAY,1867 KIRKSEY ROAD,NaN,42071,NaN,NaN,NaN,NaN,NaN,Certified
44657,A-06031-00565,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-04-11,2006-12-10,...,MURRAY,ST. RT. 94 WEST,NaN,42071,NaN,NaN,NaN,NaN,NaN,Certified
44675,A-06032-00580,H-2A,2006,NaT,CERTIFIED - FULL,0.0,0,False,2006-04-01,2006-12-15,...,SPRINGFIELD,426 EDELEN ROAD,NaN,40069,NaN,NaN,NaN,NaN,NaN,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205046,H-300-16022-881868,H-2A,2016,2016-02-16,CERTIFICATION,0.0,0,False,2016-03-11,2016-12-07,...,WARFIELD,11780 OLD STAGE ROAD,NaN,23889,VA,Baskerville,NaN,NaN,True,Certified
205245,H-300-16021-346901,H-2A,2016,2016-02-18,CERTIFICATION,0.0,0,False,2016-03-17,2016-11-12,...,MIDDLESEX,10843 BALDY HILL ROAD,P.O. BOX 21,27557,NC,Vass,NaN,NaN,True,Certified
207276,H-300-16036-748647,H-2A,2016,2016-03-23,CERTIFICATION,NaN,0,False,2016-03-21,2016-10-31,...,SELAH,252 N. RUSHMORE RD.,NaN,98942,WA,ZILLAH,NaN,NaN,True,Certified
207277,H-300-16036-748647,H-2A,2016,2016-03-23,CERTIFICATION,NaN,0,False,2016-03-21,2016-10-31,...,SELAH,252 N. RUSHMORE RD.,NaN,98942,WA,ZILLAH,NaN,NaN,True,Certified
208028,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,RED OAK,49 BLUESTONE CREEK RD.,NaN,23964,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208029,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,HURT,3937 LEVEL RUN ROAD,NaN,24563,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208039,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,KEYSVILLE,2021 WARDS CORNER RD.,NaN,23947,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208051,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,AXTON,P.O. BOX 6 - 1644 A.L. PHILPOTT HWY,NaN,24054,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208092,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,BASKERVILLE,996 BASKERVILLE ROAD,NaN,23915,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208103,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,CHATHAM,1000 DEEP RUN RD.,NaN,24531,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208104,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-04,2016-12-07,...,DINWIDDIE COUNTY,P.O. BOX 126,NaN,23841,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208111,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,SUTHERLIN,2059 GOODES RD,NaN,24594,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208113,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,CHARLOTTE CT. HS.,1755 WADDELL NELSON RD.,NaN,23923,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208116,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,CHATHAM,4031 MARION RD.,NaN,24531,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208124,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,RED HOUSE,P.O. BOX 69,NaN,23963,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208126,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,JAVA,1433 YEATTS STORE RD.,NaN,24565,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208127,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,RINGGOLD,225 WILES RD.,NaN,24586,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208133,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,GLADYS,2703 PIGEON RUN ROAD,NaN,24554,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208136,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,VIRGILINA,4082 HUDSON RD.,NaN,24598,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208137,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,CHARLOTTE CT. HS,10744 COUNTY LINE RD.,NaN,23923,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208147,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,KEYSVILLE,1001 ASH CAMP LANE,NaN,23947,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208153,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,CHATHAM,2716 SLATESVILLE RD.,NaN,24531,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208162,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,JAVA,3960 CHURCH RD.,NaN,24565,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208182,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,HALIFAX,4028 CHATHAM RD.,NaN,24558,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208185,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,CHATHAM,4612 CLIMAX ROAD,NaN,24531,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208190,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,GRETNA,246 STEELE RD.,NaN,24557,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208194,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,GRETNA,2593 RENAN RD.,NaN,24557,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208204,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,CHATHAM,595 STRAWBERRY RD.,NaN,24531,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208207,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,CHATHAM,7393 CHALK LEVEL RD.,NaN,24531,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified
208219,H-300-16054-724106,H-2A,2016,2016-03-31,CERTIFICATION,0.0,0,False,2016-04-11,2016-12-07,...,WARFIELD,11780 OLD STATE ROAD,NaN,23889,VA,Dry Fork (See Attachment #1),NaN,NaN,True,Certified

# n_requested & n_certified

In [98]:
h2visas_df.n_requested.describe()

C:\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3403: RuntimeWarning: Invalid value encountered in median
  RuntimeWarning)

count    141512.000000
mean         18.916516
std          42.546266
min           0.000000
25%                NaN
50%                NaN
75%                NaN
max        1866.000000
Name: n_requested, dtype: float64

In [99]:
# when are n_requested 0? it doesn't make sense
print(len(h2visas_df[h2visas_df['n_requested'] == 0]))
print(h2visas_df['n_certified'][h2visas_df['n_requested'] == 0].value_counts())
print(h2visas_df['case_status_sum'][h2visas_df['n_requested'] == 0].value_counts())

853
0    853
Name: n_certified, dtype: int64
Certified    798
Partial       36
Denied        19
Name: case_status_sum, dtype: int64

# Duplicates

In [102]:
# get rows that have more than one entry for case_no
duplicates = h2visas_df['case_no'].value_counts()[h2visas_df['case_no'].value_counts() > 1].index

#For each one of the duplicate case_no:
# test if visa is the same (dates and status may be different due to errors)
# if the duplicates have is_duplicate all true/false/Nan keep the one with bigger n_requested
# if the duplicates have true and false, keep the false beause it's the parent

cols_to_check = ['n_certified','n_requested','certification_begin_date','certification_end_date','case_status_sum','visa_type','is_duplicate']

for dup in duplicates:
    
    duplicate_case = h2visas_df[cols_to_check][h2visas_df['case_no']==dup]
        
    if len(duplicate_case['visa_type'].unique()) == 1:
        is_duplicate = duplicate_case['is_duplicate'].value_counts()
        if len(is_duplicate) <= 1:
            if len(duplicate_case['n_requested'].value_counts()) == 0:
                duplicate_case.drop(duplicate_case['n_certified'].idxmax(),inplace=True)
            else:
                duplicate_case.drop(duplicate_case['n_requested'].idxmax(),inplace=True)
        elif len(is_duplicate) > 1:
            duplicate_case.drop(duplicate_case[duplicate_case["is_duplicate"]==False].index, inplace=True)
        else:
            print("-Error: "+ dup)
        h2visas_df.drop(duplicate_case.index,inplace=True)
    else:
        print("Error: "+ dup)

H-400-13294-793095
H-300-13207-255540
H-400-13322-265061
H-400-13270-125941

In [104]:
h2visas_df.shape

(181433, 23)

In [114]:
h2visas_df = pd.read_csv(".\\datasets\\H-2-certification-decisions.csv")
cols_to_check = ['n_requested','n_certified','certification_begin_date','certification_end_date','visa_type','is_duplicate']
h2visas_df2[cols_to_check][h2visas_df2['case_no']=='H-400-13270-125941']

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (0,8,9,14,15,16,17,18,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,n_requested,n_certified,certification_begin_date,certification_end_date,visa_type,is_duplicate
178502,NaN,35,2013-10-24,2014-07-01,H-2B,NaN
178503,NaN,35,2013-10-24,2014-07-01,H-2B,NaN

In [109]:
h2visas_df.case_no.value_counts()

6348912               1
A-06213-11929         1
C-07093-24539         1
C-11355-30972         1
C-08235-14591         1
C-06046-01833         1
H-300-13087-436602    1
C-06348-03785         1
H-300-14028-854359    1
A-06181-11216         1
H-300-14071-535999    1
C-05362-00974         1
A-08035-35750         1
C-11006-53109         1
A-07094-03750         1
C-11350-30910         1
3412946               1
H-400-14024-876174    1
C-11045-54037         1
H-300-14020-284164    1
A-05294-01658         1
4410694               1
C-09049-17995         1
7234797               1
A-08007-33633         1
4418991               1
C-09048-44730         1
H-300-15127-231412    1
2512722               1
A-06066-00966         1
                     ..
H-300-15011-805847    1
C-06094-02251         1
C-08365-43736         1
C-09035-17647         1
6358661               1
C-08246-39447         1
C-07138-25301         1
H-400-15054-429263    1
H-300-14213-358834    1
4368709               1
5417271               1
H-400-15329-770741    1
C-10006-21878         1
4368702               1
A-05329-03610         1
4368700               1
C-10361-26053         1
5417273               1
5417272               1
5417270               1
C-09321-47223         1
4368693               1
5417268               1
5417267               1
5417266               1
1342969               1
H-400-14009-992136    1
C-10208-50658         1
H-400-13064-339485    1
C-09341-21245         1
Name: case_no, dtype: int64

In [ ]:
h2visas_df[h2visas_df.is_duplicate == True]

In [ ]:
#df.drop(dfsel.index)
df[cols_to_check].loc[df['n_requested'].idxmax()]
df.drop(df['n_requested'].idxmax(),inplace=True)

In [ ]:
h2visas_df.loc[all_good1[20]]

In [ ]:
all_good1

In [ ]:
h2visas_df.loc[203540]

In [ ]:
duplicate_case = h2visas_df[cols_to_check][h2visas_df['case_no']=='H-300-13011-519327']
#print(duplicate_case)
all_good1=[]
all_good2=[]
    #check begin_date, end_date
print(duplicate_case['certification_end_date'].unique())
print(len(duplicate_case['certification_begin_date'].unique()) == 1) 
print(len(duplicate_case['certification_end_date'].unique()) == 1)
print(len(duplicate_case['case_status_sum'].unique()) == 1)
print(len(duplicate_case['visa_type'].unique()) == 1)
print(duplicate_case['is_duplicate'].value_counts())

 
if len(duplicate_case['certification_begin_date'].unique()) == 1 and len(duplicate_case['certification_end_date'].unique()) == 1 and len(duplicate_case['case_status_sum'].unique()) == 1 and len(duplicate_case['visa_type'].unique()) == 1:
    is_duplicate = duplicate_case['is_duplicate'].value_counts()
    print(is_duplicate)
    if len(is_duplicate) != 0:
          #print (dup)
        if len(is_duplicate) == 1:
        
            if is_duplicate.loc[is_duplicate.index[0]] == len(duplicate_case['is_duplicate']):
                duplicate_case.drop(duplicate_case['n_requested'].idxmax(),inplace=True)
                all_good1.append(duplicate_case.index)
                    
            elif len(is_duplicate) > 1:
                print('1111111111111')
                # keep the one that is false
                #print(duplicate_case[cols_to_check].loc[duplicate_case['n_requested'].idxmax()])
                #df.loc[df['Value'].idxmax()]
                duplicate_case.drop(duplicate_case[duplicate_case["is_duplicate"]==False].index, inplace=True)
                all_good2.append(duplicate_case.index)
                
            else:
                print(dup)

In [ ]:
# A-06334-02351
#C-11068-28422
h2visas_df['n_requested'][h2visas_df['case_no']=='H-300-15058-823214'].value_counts().sort_index().index[0]

In [ ]:
print(len(h2visas_df['n_requested']))
same = len(h2visas_df[h2visas_df['n_requested'] == h2visas_df['n_certified']])
less = len(h2visas_df[h2visas_df['n_requested'] > h2visas_df['n_certified']])
more = len(h2visas_df[h2visas_df['n_requested'] < h2visas_df['n_certified']])
print("same: ", same)
print("less: ", less)
print("more: ", more)

print("total with certified info (same as nulls for certifed): ", 213155 - 141512)
print(same+less+more)

# job_title

In [ ]:
# how many?
len(h2visas_df.job_title.value_counts())

In [ ]:
# eliminiate duplicates
# is_certified = true and in denied (n_requested = 0???)